{% extends "layout.html" %}
{% block content %}
  
<div class="container">
  {% for error in form.title.errors %}
    <span style='color: red;'>[{{ error }}]</span> <br>
  {% endfor %}

  {% for error in form.description.errors %}
    <span style='color: red;'>[{{ error }}]</span> <br>
  {% endfor %}

  {% for error in form.youtubeURL.errors %}
    <span style='color: red;'>[{{ error }}]</span> <br>
  {% endfor %}

  <div class="editGoalForm">
    <h2>Edit Goal</h2>
      <form action = "{{ url_for('editGoal', id = editableGoal.id ) }}" method=post>
        {{ form.hidden_tag() }}

        <div class="row">
          {{ form.title.label }}
          {{ form.title }}
        </div>

        <div class="row">
          {{ form.description.label }}
          {{ form.description }}
        </div>

        <div class="row">
          {{ form.youtubeURL.label }}
          {{ form.youtubeURL }}
        </div>

        <input type = 'submit' value = 'Edit Goal'>

      </form>
      
        <br>
        <form action= "{{ url_for('deleteGoal', id = editableGoal.id ) }}">
          <input type="submit" value="Delete Goal">
        </form>
        <form action= "{{ url_for('profile') }}">
          <input type="submit" value="Return to Profile">
        </form>

  </div>
</div>
{% endblock %}