{% extends 'layout.html' %}
{% block content %}
    <div class="index" >
        <h2 style="padding-bottom:1.5%;">What is PepTalk?</h2>

        <h4 style="padding-bottom:1.5%;">PepTalk is a card-style application designed to add encouragement to your longterm goals and resolutions.
        </h4>

        <ul>
            <li> By using your goal title and description we suggest multimedia like videos from YouTube & encouraging quotes, PepTalk reminds you to achieve your goals in a more stimulating and motivating way.
            </li>
            <li>
                For a test trial, we also offer an <b>Anonymous Demo</b> mode, in which your data will be deleted after a week of inactivity.
            </li>
        </ul>


        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align: center">
                    <h2>Try it out!</h2>
                    <form action="{{ url_for('signup') }}">
                        <input type="submit" value="Sign Up!" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


<!-- {%for post in post %}
{% endfor %} -->