<html>
  <head>
    {% if title %}
    <title>{{ title }} - PepTalk</title>
    {% else %}
    <title>Welcome to PepTalk</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    
  </head>
  <body>
  <header>
      <nav class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav pull-left navbar-header">
              {% if 'email' in session %}
              <li><a href="{{ url_for('profile') }}"><h2>PepTalk</h2></a></li>
              {% else %}
              <li><a href="{{ url_for('index') }}"><h2>PepTalk</h2></a></li>
              {% endif %}
            </ul>
            <ul style="display: inline-block;" class="nav pull-right">
              <li><a href="{{ url_for('about') }}">About</a></li>
              {% if 'email' in session %}
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
              {% else %}
              <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
              <li><a href="{{ url_for('login') }}">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
  </header>

  <div class='content'>
    <div class='content-inside'>

        {% with messages = get_flashed_messages() %} 
          {% if messages %}
            {% for message in messages %}
            <div class="flash">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
   
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>

      <br>
    </div>
  </div>

  <footer class="footer">
    <div style="display: inline">
        <a class='linked-in-icon' target="_blank" href="https://www.linkedin.com/in/kireetagrawal"><img src="{{ url_for('static', filename='img/linked-in.ico') }}"/></a>
        <a class='github-icon' target="_blank" href="https://github.com/kagrawal2"><img src="{{ url_for('static', filename='img/github-icon.ico') }}"/></a>

        <div class="copyright">Created By Kireet Agrawal, 2016</div>
    </div>
  </footer>

  

  </body>

</html>