{% extends "layout.html" %}

{% block content %}
    <h2> Login </h2>
    <br>
    
    {% for message in form.email.errors %}
        <div class='flash'> {{ message }} </div>
    {% endfor %}

    {% for message in form.password.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in anonLoginForm.anonIdLogin.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

   
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-md-5">
                <p>Use your Awesome Account login info</p>
                <form action="{{ url_for('login') }}" method = post>
                    {{ form.hidden_tag() }}
                    
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {{ form.password.label }}
                            {{ form.password }}
                        </div>
                    </div>
                     
                    {{ form.submit }}
                </form>

            </div>
            
            <div class="col-xs-2 col-md-2">
                <h4> OR </h4>
            </div>

            <div class="col-xs-5 col-md-5">
                <p>Use your Anonymous ID, given during signup</p>
                 <form action="{{ url_for('anonLogin') }}" method = post>
                    {{ anonLoginForm.hidden_tag() }}

                    {{ anonLoginForm.anonIdLogin.label }}
                    {{ anonLoginForm.anonIdLogin }}

                    {{ anonLoginForm.submit }}
                </form>
            </div>
         </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="text-align: center">
                <form action="{{ url_for('signup') }}">
                    <input type="submit" value="Sign Up!" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}