{% extends "layout.html" %}
{% block content %}
  

  {% include 'createGoal.html' %}

  </form>

  {% for goal in goals %}
  <p>
    <b> {{ goal.title }} </b>
    <p> {{ goal.description }} </p>
    {% if goal.youtubeURL %}
      <div class="youtube-player" data-id="{{ goal.youtubeURL }}"></div>
    {% endif %}

    {% if goal.user_id == user.id %}
      <a href = "{{ url_for('editGoal', id = goal.id ) }}"> Edit </a>

      <a href = "{{ url_for('deleteGoal', id = goal.id ) }}"> Delete </a>
    {% endif %}
  </p>
  {% endfor %}

  <div class="jumbo">
    <h2>Profile<h2>
    <h3>This is {{ session['email'] }}'s profile page<h3>
    <h3>This is {{ user.firstname }}'s profile page<h3>
        <p>{% if session['anon'] %}
            {{ user.lastname }}
            {% endif %}
        </p>
  </div>

  <script>
 
    /* Light YouTube Embeds by @labnol */
    /* Web: http://labnol.org/?p=27941 */
 
    document.addEventListener("DOMContentLoaded",
        function() {
            var div, n,
                v = document.getElementsByClassName("youtube-player");
            for (n = 0; n < v.length; n++) {
                div = document.createElement("div");
                div.setAttribute("data-id", v[n].dataset.id);
                div.innerHTML = labnolThumb(v[n].dataset.id);
                div.onclick = labnolIframe;
                v[n].appendChild(div);
            }
        });
 
    function labnolThumb(id) {
        var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">',
            play = '<div class="play"></div>';
        return thumb.replace("ID", id) + play;
    }
 
    function labnolIframe() {
        var iframe = document.createElement("iframe");
        var embed = "https://www.youtube.com/embed/ID?autoplay=1";
        iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        this.parentNode.replaceChild(iframe, this);
    }
 
</script>

{% endblock %}