{% extends "layout.html" %}
{% block content %}
  
  <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
              {% include 'createGoal.html' %}
            </div>
            <div class="col-xs-1 col-md-1">
            </div>
            <div class="col-xs-5 col-md-5">
                <!-- <h4>{{ session['email'] }}</h4> -->
                    
                      {% if session['anon'] %}
                        <h4>
                        Your Anonymous ID is:
                        </h4>
                        <p style="font-size: 75%"><small>
                        {{ user.lastname }} <!-- Storage of Anonymous ID Click to Copy to clipboard with JS-->
                        </small></p>
                        <p>Please copy and save to login later</p>

                      {% else %}
                        <h3>Welcome {{ user.firstname }}!</h3>
                      {% endif %}
                      <br>

                      {% if dailyQuote %}
                        <h4>{{ dailyQuote['q'] }}</h4>

                        <h5 style="text-align:right; padding: 5%" >{{ dailyQuote['author'] }}</h5>

                      {% endif %}
            </div>
        </div>
  </div>

  </form>

  <div class="cardContainer" >
      <span class="tooltiptext">Drag and Drop to reorder your Goals</span>
      <h1> Your Goals </h1>
    <div class="goalContainer">
      {% for goal in goals %}

                <div class="goalCard goalCard{{ goal.id }}" draggable="true">
                  <div class= 'insideCard' id = "{{ goal.id }}">
                  
                    <h3> {{ goal.title }} </h3>
                    <!-- <p onclick="showDescription( '{{ goal.description }}' )">More...</p> -->

                    {% if goal.youtubeURL %}
                      <div class="youtube-player" data-id="{{ goal.youtubeURL }}"></div>
                    {% endif %}

                    {% if goal.user_id == user.id %}
                      <button onclick= "location.href='{{ url_for('editGoal', id = goal.id ) }}';">Edit</button>

                      <button onclick= "location.href='{{ url_for('deleteGoal', id = goal.id ) }}';">Delete</button>

                    {% endif %}
                  

                  <!-- Open The Modal -->
                    <button id="Btn{{ goal.id }}" onclick="showModal({{ goal.id }}, 0)">More Info</button>

                   <!-- The Modal -->
                    <div id="Modal{{ goal.id }}" class="modal">
                                          <!-- Modal content -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="closeModal close{{ goal.id }}">&times;</span>
                          <h2>{{ goal.title }}</h2>
                        </div>
                        {% if goal.description %}
                        <div class="modal-body">
                          <p>{{ goal.description }}</p>
                        </div>
                        {% endif %}
                        <div class="modal-footer">
                          {% if dailyQuote %}
                            <h4>{{ dailyQuote['q'] }}</h4>
                            <h5>{{ dailyQuote['author'] }}</h5>
                          {% else %}
                            <h4> "Just keep swimming"</h4>
                            <h5>"Dory"</h5>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
      {% endfor %}
    </div>
  </div>



  <style>
    .goalCard.over {
      border: 2px dashed #000;
    }
  </style>
  <script>

    function showModal(id, count){
      var modal = document.getElementById('Modal'.concat(id));
      var btn = document.getElementById("Btn".concat(id));
      var span = document.getElementsByClassName("close".concat(id))[0];
      btn.onclick = function() {
          modal.style.display = "block";
      }
      if (count == 0) {
        modal.style.display = "block";
      }
      span.onclick = function() {
          modal.style.display = "none";
      }
      window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
      }
    }

    var dragSrcEl = null;

    function updateGoalOrder() {
        var order = new Array();
        var cards = document.querySelectorAll( '.goalCard' );
          [].forEach.call(cards, function (card) {
            c = card.getElementsByClassName('insideCard')[0];
            order.push(c.id);
        });
        var orderData = { values : order};
        console.log(orderData);
        
        $.ajax({
            type : "POST",
            url : "{{ url_for('updateGoalOrder') }}",
            data: JSON.stringify(orderData, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                console.log(result);
            }
        });
    }

    function handleDragStart(e) {
      this.style.opacity = '0.4';

      dragSrcEl = this;

      e.dataTransfer.effectAllowed = 'move';
      e.dataTransfer.setData('text/html', this.innerHTML);
    }

    function handleDragOver(e) {
      if (e.preventDefault) {
        e.preventDefault();
      }
      e.dataTransfer.dropEffect = 'move';
      return false;
    }

    function handleDragEnter(e) {
      this.classList.add('over');
    }

    function handleDragLeave(e) {
      this.classList.remove('over');
    }

    function handleDrop(e) {
      if (e.stopPropagation) {
        e.stopPropagation(); 
      }
      if (dragSrcEl != this) {
        dragSrcEl.innerHTML = this.innerHTML;
        this.innerHTML = e.dataTransfer.getData('text/html');
        updateGoalOrder();
      }

      return false;
    }

    function handleDragEnd(e) {
      [].forEach.call(goalCards, function (card) {
        card.classList.remove('over');
      });
      this.style.opacity = '1.0';
    }

    var goalCards = document.querySelectorAll( '.goalCard' );
    [].forEach.call(goalCards, function(card) {
      card.addEventListener('dragstart', handleDragStart, false);
      card.addEventListener('dragenter', handleDragEnter, false);
      card.addEventListener('dragover', handleDragOver, false);
      card.addEventListener('dragleave', handleDragLeave, false);
      card.addEventListener('drop', handleDrop, false);
      card.addEventListener('dragend', handleDragEnd, false);
    });

 
    document.addEventListener("DOMContentLoaded",
        function() {
            var div, n,
                v = document.getElementsByClassName("youtube-player");
            for (n = 0; n < v.length; n++) {
                div = document.createElement("div");
                div.setAttribute("data-id", v[n].dataset.id);
                div.innerHTML = labnolThumb(v[n].dataset.id);
                div.onclick = labnolIframe;
                v[n].appendChild(div);
            }
        });
 
    function labnolThumb(id) {
        var thumb = '<img src="https://i.ytimg.com/vi/ID/hqdefault.jpg">',
            play = '<div class="play"></div>';
        return thumb.replace("ID", id) + play;
    }
 
    function labnolIframe() {
        var iframe = document.createElement("iframe");
        var embed = "https://www.youtube.com/embed/ID?autoplay=1";
        iframe.setAttribute("src", embed.replace("ID", this.dataset.id));
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        this.parentNode.replaceChild(iframe, this);
    } 
</script>

{% endblock %}